.carousel {
    height: 80vh;
    width: 100%;
    .inner-height {
        height: 100% !important;
        img {
            width: 100% !important;
            height: 100%;
        }
        .carousel-item {
            height: 100%;
        }
    }
}